- const {projectIndex, dateFormat: format} = htmlWebpackPlugin.options;

//- Include all common mixins
include ../../templates/common.pug

mixin projectSectionList(itemList)
	ul
		each project in itemList.sort((a, b) => a.details.updated < b.details.updated ? 1 : -1)
			- const updatedDate = new Date(project.details.updated)
			li(class=project.archived ? 'archived' : false)
				.top
					a(href=`https://github.com/${project.repo}` target='_blank' rel='noopener')=project.name
						img(src="/assets/img/link.svg" alt="External link")
					.language
						span.created !{format(project.details.created, "mmm 'yy")}
						.circle(style=`background:${project.details.color}`)
						| !{project.details.language}

				p.description=project.description

				.sub
					strong=(project.details.stars === 0 ? '' : `★ ${new Intl.NumberFormat().format(project.details.stars)}`)
					p(title=format(updatedDate, "mmmm dS yyyy, HH:MM:ss o"))
						span Updated&nbsp;
						span.timeago(datetime=updatedDate)
							| on !{format(updatedDate, "mmmm dS yyyy")}

doctype html

html(lang="en")

	head
		//- Generate head
		+head(
			'Projects · Mihir Chaturvedi',
			undefined,
			'https://mihir.ch/projects'
		)

		// Styles
		link(rel="stylesheet" href="/assets/css/projects.css")

	body

		+nav('Projects')

		main

			section#intro

				include:markdown-it(html=true) ../../content/projects.md

				ul.toc

					h2 Tree

					- for (const [heading1, items1] of Object.entries(projectIndex)) {
						li(class='h1')
							a(href=`#${heading1}`)=`${heading1}${Array.isArray(items1) ? ' ('+items1.length+')' : ''}`

						if (!Array.isArray(items1))
							- for (const [heading2, items2] of Object.entries(items1)) {
								li(class='h2')
									a(href=`#${heading2}`)=`${heading2} (${items2.length})`
							- }
					- }

			section#content

				- for (const [heading1, items1] of Object.entries(projectIndex)) {
					.listBody
						h2(id=heading1)=heading1

						if Array.isArray(items1)
							+projectSectionList(items1)

						else
							- for (const [heading2, items2] of Object.entries(items1)) {
								h3(id=heading2)=heading2
								+projectSectionList(items2)
							- }
				- }

		//- Footer
		+footer()

	//- Load scripts after </body> and before </html>
	script(src="/assets/js/projects.js" defer)
