- const {projectIndex, dateFormat: format} = htmlWebpackPlugin.options;

//- Include all common mixins
include ../../templates/common.pug

mixin projectSectionList(itemList)
	ul
		each project in itemList.sort((a, b) => a.details.updated < b.details.updated ? 1 : -1)
			- const updatedDate = new Date(project.details.updated)
			li(class=project.archived ? 'archived' : false)
				.title
					a(href=`https://github.com/${project.repo}` target='_blank')=project.name
					.language
						.circle(style=`background:${project.details.color}`)
						| !{project.details.language}

				p.description=project.description

				.sub
					strong=(project.details.stars === 0 ? '' : `★ ${project.details.stars}`)
					p(title=format(updatedDate, "mmmm dS yyyy, HH:MM:ss o"))
						span Updated&nbsp;
						span.timeago(datetime=updatedDate)
							| on !{format(updatedDate, "mmmm dS yyyy")}

doctype html

html(lang="en")

	head
		//- Generate head
		+head(
			'Projects · Mihir Chaturvedi',
			undefined,
			'https://mihir.ch/projects'
		)

		// Styles
		link(rel="stylesheet" href="/assets/css/projects.css")

	body

		+nav('Projects')

		main

			section#intro

				include:markdown-it(html=true) ../../content/projects.md

			section#content

				- for (const [headingLvl1, itemsLvl1] of Object.entries(projectIndex)) {
					.listBody
						h2(id=headingLvl1)=headingLvl1

						if Array.isArray(itemsLvl1)
							+projectSectionList(itemsLvl1)

						else
							- for (const [headingLvl2, itemsLvl2] of Object.entries(itemsLvl1)) {
								h3(id=headingLvl2)=headingLvl2
								+projectSectionList(itemsLvl2)
							- }
				- }

		//- Footer
		+footer()

	//- Load scripts after </body> and before </html>
	script(src="/assets/js/projects.js" defer)
