- function getColor(str) {
- 	let hash = 0;
- 	for (let i = 0; i < str.length; i++) {
- 		hash = str.charCodeAt(i) + ((hash << 5) - hash);
- 	}
- 	let colour = '#';
- 	for (let i = 0; i < 3; i++) {
- 		const value = (hash >> (i * 8)) & 0xFF;
- 		colour += ('00' + value.toString(16)).substr(-2);
- 	}
- 	return colour;
- }

mixin createCard(project, collapse)
	.card

		a(
			href=project.link
			target="_blank"
			rel="noopener"
		)

			- if(project.image)
				- const kebab = project.name.toLowerCase().split(' ').join('-');
				- const baseDir = '/static/img/projects';
				- if (typeof project.image === 'string')
					img(
						class=(collapse ? 'nodisplay' : '')
						src=project.image
						alt=`Graphic for ${project.name}`
					)
				- else
					picture(class=(collapse ? 'nodisplay' : ''))
						source(
							type="image/webp"
							srcset=`${baseDir}/${kebab}.webp`
						)
						source(
							type="image/png"
							srcset=`${baseDir}/${kebab}.png`
						)
						img(
							src=`${baseDir}/${kebab}.png`
							alt=`Graphic for ${project.name}`
						)
			h3 !{project.name}

		p.caption
			span.emoji !{project.emoji}
			| &nbsp;!{project.caption}

		.meta
			time !{project.date}
			.tags
				for tag in project.tags
					- const color = getColor(tag);
					- const styles = [
					- 	`background: ${color}38`,
					- 	`border: 1px solid ${color}`
					- ];
					span(style=styles.join(';')) !{tag}

		p.details(
			class=(collapse ? 'nodisplay' : '')
			data-details-full=project.details.full
		)
			| !{project.details.full}
			//- button ++

		noscript
			p.details !{project.details.full}
