- function getColor(str) {
- 	let hash = 0;
- 	for (let i = 0; i < str.length; i++) {
- 		hash = str.charCodeAt(i) + ((hash << 5) - hash);
- 	}
- 	let colour = '#';
- 	for (let i = 0; i < 3; i++) {
- 		const value = (hash >> (i * 8)) & 0xFF;
- 		colour += ('00' + value.toString(16)).substr(-2);
- 	}
- 	return colour;
- }

mixin createCard(project)
	.card

		a(
			href=project.link
			target="_blank"
			rel="noopener"
		)
			h3 !{project.name}

		p.caption
			time !{project.date} &mdash;&nbsp;
			span.emoji !{project.emoji}
			| &nbsp;!{project.caption}
			button ++

		p.details.nodisplay
			- if(project.image)

				- if (typeof project.image === 'string')
					picture
						img(
							src=project.image
							alt=`Graphic for ${project.name}`
						)

				- else
					- const kebab = project.name.toLowerCase().split(' ').join('-');
					- const baseDir = '/static/img/projects';

					picture
						source(
							type="image/webp"
							srcset=`${baseDir}/${kebab}.webp`
						)
						source(
							type="image/png"
							srcset=`${baseDir}/${kebab}.png`
						)
						img(
							src=`${baseDir}/${kebab}.png`
							alt=`Graphic for ${project.name}`
						)

			span !{project.details.full}

		noscript
			p.details !{project.details.full}
