//- Common mixins, to be included in all files

//- Head generator mixin
include ./head.pug

//- Navigation
include ./nav.pug

//- Footer
include ./footer.pug

//- For contacts
mixin networkLink(network)
	- const NETWORKS_IMG_DIR = "/assets/img/networks/"
	- const fileName = network.name.toLowerCase().split(" ").join("-") + ".svg"

	a(href=network.link rel="noopener" target="_blank")

		img(
			src=NETWORKS_IMG_DIR+fileName
			alt=`${network.name} Logo`
			draggable="false"
		)

		| !{network.name}
