- const defaults = {
- 	title: 'Mihir Chaturvedi · plibither8',
- 	description: 'Mihir Chaturvedi is primarily a UX developer, big-time JavaScripter, small-time designer and a full-time student at IIIT Delhi',
- 	url: 'https://mihir.ch'
- }

mixin head(title, description, url)
	- title = title || defaults.title
	- description = description || defaults.description
	- url = url || defaults.url

	title= title

	// Primary meta tags
	meta(name="title" content=title)
	meta(name="description" content=description)
	meta(name="keywords" content="Mihir, Chaturvedi, plibither8, Mihir Chaturvedi, ProjectBeta, Sanskriti, Sanskriti School, IIITD")
	meta(name="robots" content="index, follow")
	meta(charset="utf-8")
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	meta(name="viewport" content="width=device-width initial-scale=1.0")
	meta(name="language" content="English")
	meta(name="author" content="Mihir Chaturvedi (plibither8)")

	// Open Graph / Facebook
	meta(property="og:type" content="website")
	meta(property="og:url" content=url)
	meta(property="og:title" content=title)
	meta(property="og:description" content=description)
	meta(property="og:image" content="/assets/img/site-card.png")

	// Twitter
	meta(property="twitter:card" content="summary_large_image")
	meta(property="twitter:url" content=url)
	meta(property="twitter:title" content=title)
	meta(property="twitter:description" content=description)
	meta(property="twitter:image" content="/assets/img/site-card.png")

	// Miscellaneous tags
	link(rel="author" href="humans.txt")
	link(rel="license" href="LICENSE")
	link(rel="me" href="https://github.com/plibither8" type="text/html")
	link(rel="me" href="mailto:mihir@chaturvedi.dev")

	// Theming and icons
	meta(name="msapplication-TileColor" content="#984c6b")
	meta(name="msapplication-config" content="/assets/icons/browserconfig.xml")
	meta(name="theme-color" content="#D1C4E9")
	link(rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png")
	link(rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png")
	link(rel="manifest" href="/assets/icons/site.webmanifest")
	link(rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#984c6b")
	link(rel="shortcut icon" href="/assets/icons/favicon.ico")
