mixin nav(active=false)
	nav
		a.nav__name(href="/")
			img(src="/assets/img/muh.svg" alt="Mihir's logo")
			| Mihir Chaturvedi <span>&middot;</span> plibither8

		ul
			each item in options.navigation
				li
					a(
						href=item.link
						target=(item.external ? '_blank' : false)
						rel=(item.external ? 'noopener' : false)
						class=(active && item.name === active ? 'nav__link--active' : false)
					) !{item.name}
