- const {options} = htmlWebpackPlugin

html(lang="en")

	include ./pug/head.pug

	body

		include ./pug/nav.pug

		div.main

			section.heading

				h1 Mihir Chaturvedi

				p.caption ...or perhaps,&nbsp;
					span plibither8
					| ...

			section.intro

				p 👋 Hi there, and welcome to my humble abode on the internet!

				p I'm primarily a <span>UX developer</span>, big-time <span>JavaScripter</span>, small-time <span>designer</span> and a full-time <span>student @ <a href="https://iiitd.ac.in">IIIT Delhi</a>.</span>

				p.small Psst! I can also be described as a&nbsp;<span>"maker of things 👷"</span>,&nbsp;<span>"coffee-lover ☕"</span>&nbsp;and a&nbsp;<span>"<code>10x engineer 😲</code>"</span>.&nbsp;<button>/s</button>

			hr

			section.projects

				h2 ✨ Projects

				.gallery

					- const {projects} = options
					each project in projects
						.card
							- if(project.image)
								- const kebab = project.name.toLowerCase().split(' ').join('-')
								img(src=`/static/img/projects/${kebab}.png`)

							.info
								h1
									a(href=project.main_link target="_blank") !{project.name}
								- const visible = project.details.substr(0, 100)
								- const hidden = project.details.substring(100)
								p.caption !{project.caption}
								p.details
									| !{visible}
									span.ellipsis ...
									button ++
									span.hidden !{hidden}

								noscript
									p.details !{project.details}

			hr

			section.about
